html {
  background: #888;
  color: #333;
  font-family: "Fira Sans", system-ui, sans-serif;
  font-size: 100%;
  text-align: center;
}

body {
  background: #FFF;
  margin: auto;
  max-width: 40rem;
  padding: 1rem;
}

p {
  text-align: left;
}

ul.list-link,
.list-link li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.list-link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  margin-block-start: 2rem;
}

a {
  color: inherit;
}

.list-link li:nth-child(5n+1) {
  background-color: hsl(0, 52%, 85%);
}

.list-link li:nth-child(5n+2) {
  background-color: hsl(72, 80%, 80%);
}

.list-link li:nth-child(5n+3) {
  background-color: hsl(144, 51%, 84%);
}

.list-link li:nth-child(5n+4) {
  background-color: hsl(216, 55%, 85%);
}

.list-link li:nth-child(5n+5) {
  background-color: hsl(288, 67%, 86%);
}

.list-link li {
  border-radius: 1rem;
  flex-basis: fit-content;
  flex-grow: 2;
  flex-shrink: 2;
  text-align: center;
}

.list-link a {
  text-decoration: none;
  padding: 1rem 2rem;
  display: block;
}

div.important {
  background: hsl(0, 36%, 96%);
  border: 2px solid hsl(0, 100%, 50%);
  padding: 0.5rem 1rem;
}

div.emergency {
  background: hsl(0, 100%, 22%);
  color: #FFF;
  border: 2px solid hsl(0, 100%, 50%);
  padding: 0.5rem 1rem;
}

footer {
  margin-top: 2rem;
  text-align: center;
}

img {
  height: auto;
  max-width: 100%;
}

@font-face {
  font-display: swap;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/fira-sans-v17-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/fira-sans-v17-latin-italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/fira-sans-v17-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/fira-sans-v17-latin-700italic.woff2") format("woff2");
}