html {
  background: #888;
  color: #333;
  font-family: ui-sans-serif, "Roboto", "Inter", system-ui, sans-serif;
  font-size: 100%;
  text-align: center;
}

body {
  background: #FFF;
  margin: auto;
  max-width: 40rem;
  padding: 1rem;
}

ul.list-link ,
.list-link li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.list-link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

a {
  color: inherit;
}

.list-link li:nth-child(5n+1) { background-color: rgb(228, 170, 170); }
.list-link li:nth-child(5n+2) { background-color: rgb(184, 184, 247); }
.list-link li:nth-child(5n+3) { background-color: rgb(194, 235, 194); }
.list-link li:nth-child(5n+4) { background-color: rgb(238, 224, 197); }
.list-link li:nth-child(5n+5) { background-color: rgb(243, 195, 243); }

.list-link li {
  border-radius: 1rem;
  flex-basis: fit-content;
  flex-grow: 2;
  flex-shrink: 2;
  text-align: center;
}

.list-link a {
  text-decoration: none;
  padding: 1rem 2rem;
  display: block;
}

footer {
  margin-top: 2rem;
  text-align: center;
}