{{ define "main" }}

<div class="content">

    {{ with site.Params.emergency }}
        <div class="emergency">
        {{ with .Title }}
            <h2>{{ . }}</h2>
        {{ end }}
        {{ .Text | markdownify }}
        </div>
    {{ else }}

    {{ with site.Params.important }}
    <div class="important">
        {{ with .Title }}
            <h2>{{ . }}</h2>
        {{ end }}
        {{ .Text | markdownify }}
    </div>
    {{ end }}

    {{ .Content }}

    <ul class="list-link">
        {{ range .Params.liens }}
        <li class="link"><a href="{{ .url }}" class="btn btn-outline-primary" target="_blank">{{ .title }}</a></li>
        {{ end }}
    </ul>

    {{ end }}
</div>

{{ end }}